html, body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1 rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: azure;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 

.formulario {
  margin: auto;
  padding: 4 rem;
}

.root{
  background-color: rgb(202, 202, 202);
}